.item-detail{
    width: 80%;
}
.item-img{
    width:80%;
}
.add span{
    color: white;
}
.back{
    background:black;
    color:white;
    width: 100px;
    height: 40px;
    border-radius: 20px;
}
.plus-minus{
    width: 120px;
    height: 40px;
    border: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}
.plus, .minus{
    width:30px;
    margin-top: 5px;;
    background: transparent;
}
.amount{
    font-size: 22px;
    color: black;
}
.item-detail .MuiPaper-root{
    background: red;
}