.head{
    margin: 40px 0;
}
.head .logo{
    width: 300px;
}
.form{
    width: 100%;
}
.form .error{
    color: red;
    margin-top: -15px;
}
.form .error::before{
    content:'*';
}
.sign input{
    background: lightgrey;
    margin: 15px 0;
    height: 45px;
    border-radius: 5px;
    width: 25%;
    padding: 0 10px;
}
.sign input[type="submit"]{
    background: red;
    color: white;
}
.sign span{
    color:red;
    cursor: pointer;
}
.firebase-auth h4{
    display: flex;
    flex-direction: row;
    width: 30%;
}
.firebase-auth h4::before,
.firebase-auth h4::after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid black;
    margin: auto;
}
.firebase-auth h4::before{
    margin-right: 10px;
}
.firebase-auth h4::after{
    margin-left: 10px;
}
.firebase-auth .google-icon,
.firebase-auth .facebook-icon,
.firebase-auth .twitter-icon{
    color: black;
    font-size: 50px;
    margin: 0 10px;
    color: red;
}