.confirm .delivery-detail{
    border-bottom: 2px solid lightgrey;
}
.confirm input,
.confirm textarea{
    background: lightgrey;
    margin: 12px 0;
    padding: 5px 10px;
    border-radius: 5px;
}
.confirm input{
    height: 45px;
}
.confirm textarea{
    border: none;
    outline:none;
}
.confirm input[type="submit"]{
    background: red;
    color: white;
}
.cart-item .row{
    background:lightgrey;
    border-radius: 15px;
}
.cart-calculation .row div{
    padding: 0 10px;
}
.cart-item .col-1{
    cursor: pointer;
    color: red;
}
.confirm .error{
    color: red;
    margin-top: -15px;
}
.confirm .error::before{
    content:'*';
}